#jumbo2
{
    text-align: center;
    margin: 0 auto;
    background-color: white;
    padding: 0px, 15px;
} 

#titleJumbo
{
    background-color: black;
    color: white;
}

#particles-js
{
    position: absolute;
    background-color:transparent;
    text-align: center;
    height: 100%;
    width: 100%;
}

.col-md-4
{
     text-align: center;
}

.thumbnail
{
    text-align: center;
    margin: 0 auto; 
}

#big
{
    /* margin-top: 10px; */
}

.content
{
    color: white;
}

.barShort
{
    background-color: black;
    max-width: 40%;
    height: 3px;
    margin: 25px auto;
}

#pro
{
    margin-bottom: 30px;
    margin-top:40px;
}

#nav
{
    background: linear-gradient(rgba(59,61,66,1),transparent);
    border: none;
}

#nav a
{
    color: white;
}

.about:hover
{
    filter: blur(10px);
}

.about:hover .overlay
{
    opacity: 1;   
}

.overlay
{
    margin-top: ;
    opacity: 0;
}

#bi
{ 
    font-size: 15px;
    font-weight: bold;
}

#bottomJumbo
{
    background: transparent;
    text-align: center;
}

#socialIcons
{
    text-align: center;
}

#Personal-Projects
{
    font-size: 45px;
}

#contact
{
    font-size: 45px;
}

#profile-picture
{
    height: 100%;
    width: 100%;
}
